{% extends 'hospital_base.html' %}

{% block title %} {{ hospital }} Hospital - Donors Detail {% endblock %}
{% block donor %} active {% endblock %}
{% block heading %}{{ hospital }} Hospital Donors detail{% endblock %}
{% block content %}

<table class="table table-striped">
  <thead>
    <th> Name </th>
    <th> Gender </th>
    <th> Blood Type </th>
    <th> date of birth </th>
    <th> phone No </th>
  </thead>
  {% for d in donors %}
    <tr>
      <td>{{d.name}}</td>
      <td> {{d.gender}} </td>
      <td>{{d.blood_type}}</td>
      <td> {{ d.DOB}} </td>
      <td> {{ d.phone }} </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
