{% extends 'hospital_base.html' %}

{% block title %} All the hospitals {% endblock %}
{% block heading %}Hospital List{% endblock %}
{% block content %}
  {% if hospital_list %}
    <ul  class="list-group">
      {% for hospital in hospital_list %}
          <a href="/hospitals/{{ hospital.id }}/"><li class="list-group-item" style="text-align:center">{{ hospital.name }}</li></a>
      {% endfor %}
    </ul>
    <ul class="pagination">
      {% for i in range %}
        {% if i == page_id %}
          <li class="active"><a href = "#">{{ i}} <span class="sr-only">(current)</span> </a></li>
        {% else %}
          <li><a href="/hospitals/page/{{ i }}/">{{ i }}</a></li>
        {% endif %}

      {% endfor %}
    </ul>
  {% else %}
  <p> No hospital ! </p>
  {% endif %}
{% endblock %}
